@import "tailwindcss";
@import 'pixel-retroui/dist/index.css';
@import 'pixel-retroui/dist/fonts.css';
@plugin "tailwindcss-motion";


@theme {
    --font-sans: "Jersey 10", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-primary: #FFDFCF;
    --color-secondary: #98716C;
    --color-accent: #F1818B;
}

html,
body {
    @apply bg-transparent text-primary font-sans;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

@layer components {
    .shadow-text {
        text-shadow: 8px 8px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }

    .shadow-text-sm {
        text-shadow: 4px 4px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
}
